# .env locale
POSTGRES_USER=gymadmin
POSTGRES_PASSWORD=password_test
POSTGRES_DB=gymbuddy_db

# Per il test locale, l'IP è localhost
VPS_IP=localhost
DOMAIN_NAME=localhost

# Chiavi test
SECRET_KEY=chiave-di-prova-locale
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30