version: '3.8'

services:
  # 1. DATABASE
  db:
    image: postgres:15-alpine
    container_name: app-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. BACKEND
  backend:
    build: ./backend
    container_name: app-backend
    restart: always
    expose:
      - "8000"
    volumes:
      - static_volume:/app/static
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      ROOT_PATH: /api
      
      # AGGIUNTO IL DOMINIO QUI SOTTO:
      ALLOWED_ORIGINS: http://localhost,http://${VPS_IP},http://${DOMAIN_NAME},https://${DOMAIN_NAME}
    networks:
      - app-network

  # 3. FRONTEND
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: /api
    container_name: app-frontend
    restart: always
    expose:
      - "3000"
    environment:
      INTERNAL_API_URL: http://backend:8000
    depends_on:
      - backend
    networks:
      - app-network

  # 4. NGINX
  nginx:
    image: nginx:latest
    container_name: app-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/static
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  static_volume: