/* Nella v4 basta questa riga per importare tutto */
@import "tailwindcss";

/* Qui definiamo il tema personalizzato */
@theme {
  --color-gym-red: #9b2037;
  --color-gym-yellow: #fff884;
  --color-gym-white: #ffffff;
}

/* Stili base */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}